rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth != null
        && request.auth.uid in [
          'g0jeEqEX6aQpHJl1eSwUzjIVDUO2',
          'ukBO7TX6pudn6089L0bf4lCOKNS2'
        ];
    }
  }
}